.header {
  position: fixed;
  width: 100vw;
  padding: 20px 10px;
  z-index: 10;
}

.header svg {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  opacity: 0;
  animation: slideInFromTop 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-delay: 0.2s;
  height: min(300px, calc(100vw / 2));
  width: calc(100% + 20px);
  min-height: 150px;
}

.widthLimiter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.widthLimiter svg {
  width: 300px;
  height: 300px;
  opacity: 0;
  right: 0;
  left: unset;
  animation: slideInFromTop 2s cubic-bezier(0.23, 1, 0.32, 1) forwards,
    rotateBackAndForth 8s ease-in-out 1.6s infinite alternate;
}

.backButton {
  background-color: transparent;
  background-image: url('/left-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #1b8eab;
  font-size: 24px;
  line-height: 1;
  animation: slideInFromLeft 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.timer {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  color: #3a8eaa;
  animation: slideInFromRight 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  z-index: 12;
}

.keyboardOpen.header {
  z-index: 20;
}

.keyboardOpen .timer {
  position: absolute;
  top: 290px;
}

.cloudContainer {
  position: absolute;
  left: -425px;
  width: 425px;
  height: 400px;
  overflow: hidden;
  animation: moveFromOffScreenLeftToOffScreenRight 20s linear forwards;
  z-index: 100;
  display: flex;
}

.cloud {
  position: absolute;
  top: 0;
  left: 25px;
  right: unset;
  opacity: 1 !important;
  width: 350px;
  min-height: 150px;
  z-index: 101;
  display: flex;
  align-items: center;
}

.cloud svg {
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.12));
}

.cloud svg path {
  transition: fill 0.5s;
}

.cloud.active svg path {
  fill: #4e4e4e;
}

.lightning {
  position: absolute;
  top: 220px;
  left: 150px; 
  height: 160px;
  width: 76px;
  min-height: 150px;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.1s;
}

.lightning.active {
  opacity: 1;
}

p.correct,
p.incorrect {
  font-size: 108px;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  animation: slideInFromLeft 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-delay: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  z-index: 20;
  padding: 300px 10px 0;
}

p.correct {
  color: #2e9b24;
}

p.incorrect {
  color: #d9304c;
}

.keyboardOpen p.correct,
.keyboardOpen p.incorrect {
  padding-top: 400px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.enterName {
  text-align: center;
  animation: slideInFromLeft 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-delay: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -32px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding-bottom: 80px;
}

.enterName label {
  font-size: 108px;
  line-height: 1;
  font-weight: 800;
  color: #2e9b24;
}

.enterName input {
  margin: 20px 0;
  padding: 5px 10px;
  font-size: 64px;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  text-align: center;
  border: none;
}

.enterName input:focus {
  outline: none;
}

.highscoreTable {
  font-size: 24px;
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  animation: slideInFromBottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.highscoreTable th,
.highscoreTable td {
  color: #1b8eab;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #f700ff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70px;
}

.highscoreTable th {
  background-color: #f700ff;
  color: #fff;
  border-bottom: none;
}

.highscoreTable td:first-child {
  font-weight: 800;
  font-size: 32px;
  color: #1b8eab;
}

.highscoreTable td[data-type="addition"] {
  color: #2e9b24;
}

.highscoreTable td[data-type="subtraction"] {
  color: #000eff;
}

.highscoreTable td[data-type="multiplication"] {
  color: #f700ff;
}

.highscoreTable td[data-type="division"] {
  color: #f9a825;
}


@keyframes moveFromOffScreenLeftToOffScreenRight {
  0% {
      left: -425px;
      /* Off-screen left */
    }
  
    100% {
      left: 100vw;
      /* Off-screen right */
    }
  }

@keyframes slideInFromBottom {
  from {
    transform: translateY(150%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotateBackAndForth {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}


@keyframes slideInFromTop {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: .2;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .cloudContainer {
    animation: moveFromOffScreenLeftToOffScreenRight 10s linear forwards;
    top: 250px;
    width: 300px;
  }
  .cloud svg {
    width: 200px;
  }
  .lightning {
    top: 150px;
    left: 100px;
  }
  .lightning svg { 
    width: 45px;
  }
  .highscoreTable {
    font-size: 20px;
  }

  .highscoreTable td:first-child {
    font-size: 28px;
  }

  p.correct,
  p.incorrect {
    font-size: 48px !important;
    line-height: 1 !important;
  }

  .enterName label {
    font-size: 48px;
  }

  .widthLimiter svg {
    width: 200px;
    height: 200px;
    right: -20px;
    top: -20px;
  }
}